
<!doctype html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--      font-awesome css-->
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--      lighslider css-->
      <link rel="stylesheet" href="{% static 'css/lightslider.css'%}" />
      <!--   custome CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
<!--      jquery js-->
      <script type="text/javascript" src="{% static 'js/jquerry.js' %}"></script>
<!--      lightslider js-->
    <script type="text/javascript" src="{% static 'js/lightslider.js' %}"></script>

  </head>
  <body>
  <div class="container-fluid">
      <nav class="navbar navnbar-expand-sm bg-dark text-white myborder sticky">
      <div class="container-fluid ">
        <a class="nav-link nav-link btn btn-sm btn-outline-primary">Brand</a>
        <ul class="navbar list-unstyled p-0 m-0">
          <button class="nav-link nav-link btn btn-sm btn-outline-primary">
<!--           -->

            <a href="{% url 'website:cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;"></i></a>
            <span class="cart-value text-white"></span>
        </button>
        <li class="nav-item ">
          <a class="nav-link btn-sm btn btn-outline-primary">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link btn btn-sm btn-outline-primary">Login</a>
        </li>

      </ul>
      </div>
    </nav>
  </div>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
  </body>
</html>